Repository mladimatija/wp-graphql-astro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"*.{js,mjs,cjs,ts,jsx,tsx,astro}": ["eslint --fix", "prettier --write"],
	"*.{css,scss}": ["stylelint --fix", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

fix: convert GitHub workflows from tabs to spaces
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
Due: none

chore: add package-lock.json
  .gitignore
  package-lock.json
Due: prettier --write

chore: update header intro text
  src/components/Header.astro
Due: eslint --fix, prettier --write

chore: don't render "post modified" datetime
  src/components/PostMeta.astro
Due: eslint --fix, prettier --write

chore(deps): upgrade dependencies and migrate tooling configs
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  eslint.config.js
  package-lock.json
  package.json
  postcss.config.cjs
  public/service-worker.js
  stylelint.config.js
Due: eslint --fix, prettier --write

refactor(constants): use single source of truth (constants.json)
  README.md
  public/service-worker.js
  src/lib/constants.js
  src/lib/constants.json
  src/lib/constants.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat(api): add fetch timeout/retries and paginate getAllUris
  public/service-worker.js
  src/lib/api.ts
Due: eslint --fix, prettier --write

chore(security): document REVALIDATE_TOKEN, rate-limit revalidate, avoid logging secrets
  .env.example
  README.md
  src/lib/api.ts
  src/pages/api/revalidate.ts
Due: eslint --fix, prettier --write

fix(forms): use Netlify Forms for newsletter; remove SW sync to missing APIs
  README.md
  public/service-worker.js
  src/components/content-collections/NewsletterSignup.astro
  src/scripts/service-worker-template.js
Due: eslint --fix, prettier --write

feat(ux): 404 on missing node, stale cache for settings/nav, fallback banner
  .lintstagedrc.json
  src/components/Footer.astro
  src/components/Header.astro
  src/components/Navigation.astro
  src/components/Pagination.astro
  src/components/__tests__/Pagination.test.js
  src/components/templates/Archive.astro
  src/layouts/MainLayout.astro
  src/lib/__tests__/api.test.js
  src/lib/api.ts
  src/pages/[slug]/page/[page].astro
  src/pages/category/[slug]/page/[page].astro
  src/pages/page/[...page].astro
  src/pages/tag/[slug]/page/[page].astro
Due: eslint --fix, prettier --write

feat(seo): JSON-LD, sitemap docs, fetchpriority for above-the-fold images
  .env.example
  README.md
  src/components/Footer.astro
  src/components/Header.astro
  src/components/PostCard.astro
  src/components/templates/Archive.astro
  src/components/templates/Single.astro
  src/layouts/MainLayout.astro
  src/pages/index.astro
  src/pages/page/[...page].astro
  src/pages/success.astro
Due: eslint --fix, prettier --write

fix(ux): 404 image, revalidate build hook, astro site env
  .env.example
  README.md
  astro.config.mjs
  src/env.d.ts
  src/pages/404.astro
  src/pages/api/revalidate.ts
Due: eslint --fix, prettier --write

chore(docs): README env/setup, engines, WPGraphQL offset plugin
  README.md
  package.json
Due: prettier --write

feat(test): adds API error paths, getAllUris shape, and revalidate API tests
  src/lib/__tests__/api-errors.test.js
  src/lib/__tests__/api.test.js
  src/pages/api/__tests__/revalidate.test.js
Due: eslint --fix, prettier --write

fix(nav): improve accessibility and center burger icon
  src/components/Navigation.astro
Due: eslint --fix, prettier --write

chore: bump LICENSE copyright to 2026
  LICENSE
Due: none

refactor(styles): migrate component styling to Tailwind
  README.md
  astro.config.mjs
  package-lock.json
  package.json
  public/service-worker.js
  src/components/A11yManager.astro
  src/components/ContactForm.astro
  src/components/Footer.astro
  src/components/Header.astro
  src/components/Navigation.astro
  src/components/Pagination.astro
  src/components/PostCard.astro
  src/components/PostMeta.astro
  src/components/PostPagination.astro
  src/components/content-collections/LocalPage.astro
  src/components/content-collections/NewsletterSignup.astro
  src/components/react/DarkMode.tsx
  src/components/react/WebVitalsMonitor.tsx
  src/components/templates/Archive.astro
  src/components/templates/Single.astro
  src/layouts/MainLayout.astro
  src/pages/404.astro
  src/pages/index.astro
  src/pages/page/[...page].astro
  src/pages/success.astro
  src/styles/styles.css
  src/styles/variables.css
  stylelint.config.js
Due: eslint --fix, prettier --write, stylelint --fix

chore: update node version in package.json
  package.json
Due: prettier --write

chore(release): prepare v1.2.0 metadata and generated assets
  CHANGELOG.md
  package.json
  public/service-worker.js
Due: eslint --fix, prettier --write

feat: migrate to Astro 6
  README.md
  astro.config.mjs
  fix-manifest.js
  package-lock.json
  package.json
  public/service-worker.js
  src/components/PostMeta.astro
  src/components/content-collections/LocalPage.astro
  src/components/react/WebVitalsMonitor.tsx
  src/components/templates/Single.astro
  src/content.config.ts
  src/layouts/MainLayout.astro
  src/lib/api.ts
  src/lib/content.ts
  src/lib/webVitals.ts
  src/pages/api/revalidate.ts
  src/pages/local/[...slug].astro
  src/scripts/generate-service-worker.js
  src/scripts/service-worker-template.js
  vitest.astro-content-mock.js
Due: eslint --fix, prettier --write

chore: bump version to v1.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix(deps): resolve npm audit vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

fix(config): fallback site URL for CI when PUBLIC_SITE_URL is unset
  astro.config.mjs
Due: eslint --fix, prettier --write

chore: add dependabot support
  .github/dependabot.yml
Due: none

chore(ci): upgrade GitHub Actions for Node.js 24
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
Due: none

chore(deps): bump dependencies to latest versions
  package-lock.json
  package.json
Due: prettier --write

chore(deps): bump non-eslint packages to latest
  package-lock.json
  package.json
Due: prettier --write

fix(deps): override uuid and yaml to patch moderate security vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

fix(deps): pin vite to v7 to prevent rolldown incompatibility with @tailwindcss/vite
  package-lock.json
  package.json
Due: prettier --write

fix(dark-mode): fix muted text, contact form border and placeholder visibility
  src/components/Footer.astro
  src/components/Header.astro
  src/components/PostMeta.astro
  src/styles/styles.css
Due: eslint --fix, prettier --write, stylelint --fix

fix: incomplete multi-character sanitization
  src/components/__tests__/PostCardBasic.test.js
Due: eslint --fix, prettier --write

Potential fix for code scanning alert no. 1: Workflow does not contain permissions
  .github/workflows/ci.yml
Due: none

Potential fix for code scanning alert no. 2: Workflow does not contain permissions
  .github/workflows/ci.yml
Due: none

fix: strip full HTML tags in PostCardMock excerpt logic
  src/components/__tests__/PostCardBasic.test.js
Due: eslint --fix, prettier --write

Potential fix for pull request finding 'CodeQL / Incomplete multi-character sanitization'
  src/components/__tests__/PostCardBasic.test.js
Due: eslint --fix, prettier --write

Revert "Potential fix for pull request finding 'CodeQL / Incomplete multi-character sanitization'"
  src/components/__tests__/PostCardBasic.test.js
Due: eslint --fix, prettier --write

Update package.json
  package.json
Due: prettier --write

chore: update npm dependencies
  package-lock.json
  package.json
Due: prettier --write

chore: regenerate service-worker.js
  public/service-worker.js
Due: eslint --fix, prettier --write

fix(sw,api): make service worker + API routes work in production
  public/service-worker.js
  src/pages/api/manifest.json.ts
  src/pages/api/revalidate.ts
  src/scripts/service-worker-template.js
Due: eslint --fix, prettier --write
